# Generated via Next.js
.next

# Generated via Node.js
node_modules

# Generated via next-pwa
**/public/workbox**
**/public/sw**
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map